
  <%= form_with model: @customer, url: customers_information_edit_path, method: :patch do |f| %>
  <table class="table">
    <tbody>
      <tr>
        <td>氏名</td>
        <td><%= f.text_field :last_name, class: "form-control", style: "width: 200px;" %></td>
        <td><%= f.text_field :first_name, class: "form-control", style: "width: 200px;" %></td>
      </tr>
      <tr>
        <td>フリガナ</td>
        <td><%= f.text_field :last_name_reading, class: "form-control", style: "width: 200px;" %></td>
        <td><%= f.text_field :first_name_reading, class: "form-control", style: "width: 200px;" %></td>
      </tr>
      <tr>
        <td>郵便番号</td>
        <td><%= f.text_field :post_code, class: "form-control", style: "width: 200px;" %></td>
        <td></td>
      </tr>
      <tr>
        <td>住所</td>
        <td colspan="2"><%= f.text_field :address, class: "form-control", style: "width: 500px;" %></td>
      </tr>
      <tr>
        <td>電話番号</td>
        <td><%= f.text_field :phone_number, class: "form-control", style: "width: 200px;" %></td>
        <td></td>
      </tr>
      <tr>
        <td>メールアドレス</td>
        <td><%= f.email_field :email, class: "form-control", style: "width: 300px;" %></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td><%= f.submit "編集内容を保存", class:"btn btn-success" %></td>
      </tr>
    </tbody>
  </table>
 <% end %>